<div class="container">
  <nav class="navbar">
    <h1>TEXT REMINDERS</h1>
    <div>
      <% if edit_profile_page? %>
        <%= link_to "Reminders", reminders_path, class: "button" %>
      <% else %>
        <%= link_to "Edit Profile", edit_profile_path, class: "button" %>
      <% end %>
      <% if current_user %>
        <%= link_to "Sign out", sign_out_path, class: "button" %>
      <% end %>
    </div>
  </nav>
</div>
